.cart {
    width: 50%;
    height: 500px;
    padding: 30px;
    background-color: rgb(158, 158, 110);
    border: 1px solid black;
    margin: 40px;
    border-radius: 10px;
}

.content {
    height: 80%;
    margin: 5%;
}

body {
    background-color: brown;
}