<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p> bonjour  wait you new_task time  </p>

   

    {% block content %}
    <form method="POST">
        {{ new_task.hidden_tag() }}
        
        {{ new_task.name.label }}
        {{ new_task.name(size=32) }}

        {{ new_task.executant.label }}
        {{ new_task.executant(size=32) }}

        {{ new_task.date_start.label }}
        {{ new_task.date_start(size=32) }} 

        {{ new_task.date_end.label }}
        {{ new_task.date_end(size=32) }} 
        
        {{ new_task.author.label }}
        {{ new_task.author(size=32) }} 

        {{ new_task.description.label }}
        {{ new_task.description(size=32) }} 

        {{ new_task.status.label }}
        {{ new_task.status(size=32) }} 
        
        {{ new_task.submit() }}
    </form>
    {% endblock %}

</body>

</html>