<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p> bonjour  wait you login time  </p>

   

    {% block content %}
    <form method="POST">
        {{ login.hidden_tag() }}
        
        {{ login.username.label }}
        {{ login.username(size=32) }}
        
        {{ login.password.label }}
        {{ login.password(size=32) }} 
        
        {{ login.submit() }}
    </form>
    {% endblock %}

</body>

</html>