<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p> bonjour  wait you register time  </p>

   

    {% block content %}
    <form method="POST">
        {{ register.hidden_tag() }}
        
        {{ register.username.label }}
        {{ register.username(size=32) }}

        {{ register.email.label }}
        {{ register.email(size=32) }} 
        
        {{ register.password.label }}
        {{ register.password(size=32) }} 
        
        {{ register.submit() }}
    </form>
    {% endblock %}

</body>

</html>