.header {
    width: 100%;
    background-color: rgb(82, 125, 162);
    display: flex;
}

.left {
    width: 40%;
}

.rigth {
    width: 55%;
    margin: 0px;

}

.head2 {
    width: 650px;
}

.rigth h1 {
    margin-bottom: 35px;
}

.rigth p {
    width: 65%;
    text-align: justify;
    text-justify: inter-word;
}

.rigth button {
    width: auto;
    height: 50px;
    color: #29b68d;
    background-color: #5c5d5e #29b68d;
    border-radius: 10px;
    padding: 10px;
    border: 0px ;
}