.navbar {
    width: max-content;
    margin: 0px;
    height: 20px;
    padding: 5%;
    color: #243643;
    display: flex;
}



.logo-img {
    margin-left: 60px;
    width: 80px;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-list li {
    margin: 25px;
    width: 150px;
}

.navbar-list .getStarted {
    padding: 8px;
    border-radius: 15px;
    height: 40px;
    margin-top: 1px;
    width: 200px;
    margin-top: 14px;
    color: #29b68d;
    background-color: #efefef;
    border-radius: 10px;
    border: 0px;
}